[Unit]
Description=Home Assistant
After=network-online.target local-fs.target

[Container]
Image=ghcr.io/home-assistant/raspberrypi4-64-homeassistant:stable
ContainerName=homeassistant
Network=host
AddCapability=ALL
Volume=/home/forain/Projects/autonomous/homeassistant/config:/config
Volume=/home/forain/Projects/autonomous/frigate/db:/db
Volume=/etc/localtime:/etc/localtime:ro

[Service]
WorkingDirectory=/home/forain/Projects/autonomous
Restart=always

[Install]
WantedBy=multi-user.target default.target
