[Unit]
Description=Eclipse Mosquitto MQTT Broker
After=network-online.target local-fs.target

[Container]
Image=eclipse-mosquitto:2
ContainerName=mosquitto
Network=host
Volume=/home/forain/Projects/autonomous/mosquitto/config:/mosquitto/config
Volume=/home/forain/Projects/autonomous/mosquitto/log:/mosquitto/log
Volume=/home/forain/Projects/autonomous/mosquitto/data:/mosquitto/data

[Service]
WorkingDirectory=%h/Projects/autonomous
Restart=always

[Install]
WantedBy=multi-user.target default.target
