[Unit]
Description=Pi-hole DNS and Ad Blocker
After=network-online.target local-fs.target

[Container]
Image=docker.io/pihole/pihole:latest
ContainerName=pihole
Network=host
AddCapability=NET_ADMIN
Environment=TZ=America/SaoPaulo
EnvironmentFile=/home/forain/Projects/autonomous/.env
Volume=/home/forain/Projects/autonomous/pihole/etc:/etc/pihole
Volume=/home/forain/Projects/autonomous/pihole/dnsmasq.d:/etc/dnsmasq.d

[Service]
WorkingDirectory=/home/forain/Projects/autonomous
Restart=always

[Install]
WantedBy=multi-user.target default.target
