[Unit]
Description=Unifi MongoDB
After=network-online.target local-fs.target

[Container]
Image=docker.io/dburszty/mongodb-raspberrypi:7.0.14
ContainerName=unifi-db
EnvironmentFile=/home/forain/Projects/autonomous/.env
Volume=/home/forain/Projects/autonomous/unifi-db:/data/db
Volume=/home/forain/Projects/autonomous/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
Network=unifi.network

[Service]
WorkingDirectory=/home/forain/Projects/autonomous
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target default.target
