[Unit]
Description=Unifi Network Application
After=network-online.target local-fs.target unifi-db.service
Requires=unifi-db.service

[Container]
Image=lscr.io/linuxserver/unifi-network-application:latest
ContainerName=unifi
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/SaoPaulo
Environment=MONGO_USER=unifi
Environment=MONGO_HOST=localhost
Environment=MONGO_PORT=27017
Environment=MONGO_DBNAME=unifi
Environment=MONGO_AUTHSOURCE=unifi
Environment=MEM_LIMIT=1024
Environment=MEM_STARTUP=1024
EnvironmentFile=/home/forain/Projects/autonomous/.env
Volume=/home/forain/Projects/autonomous/unifi:/config
Pod=unifi.pod

[Service]
WorkingDirectory=/home/forain/Projects/autonomous
Restart=always
TimeoutStartSec=120
